
@{
    ViewData["Title"] = "About Us";
}


    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
        <table class="about-us-table" align="center">
            <tr class="about-us-table-icon-header">
                <th></th>
                <th><img src="~/img/github_logo.png" width="25" height="25" /></th>
                <th><img src="~/img/linkedin_logo.png" width="25" height="25" /></th>
            </tr>
            <tr class="about-us-table-info">
                <td>Turcsány Ádám</td>
                <td>TurcsanyAdam</td>
                <td>/turcsány-ádám-b0baa9121</td>
            </tr>
            <tr class="about-us-table-info">
                <td>Fehér Attila</td>
                <td>feher-at</td>
                <td></td>
            </tr>
            <tr class="about-us-table-info">
                <td>Csöndes Ádám</td>
                <td>csondika</td>
                <td>/csondika</td>
            </tr>
        </table>
    </div>
