
@{
    ViewData["Title"] = "AskQuestion";
}

<div class="text-center">
    <h1 class="display-4">Ask a question...</h1>
</div>

<div>
    <form method="post" action="/Home/NewQuestion">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend" for="username">
                <span class="input-group-text">Username</span>
            </div>
            <input class="form-control" type="text" name="username" placeholder="Jacob Gypsum" required><br>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend" for="title">
                <span class="input-group-text">Question Title</span>
            </div>
            <input class="form-control" type="text" name="title" placeholder="What is programming?" required><br>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend" for="message">
                <span class="input-group-text">Description of the problem</span>
            </div>
            <textarea class="form-control" rows="1" type="text" name="message" placeholder="I really can't come up with a good summary of what it is. As you see on line 19..." required></textarea><br>
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend" for="tags">
                <span class="input-group-text">Tags (separated by ",")</span>
            </div>
            <textarea class="form-control" rows="1" type="text" name="message" placeholder="C#,GameDev,Java..." required></textarea><br>
        </div>
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Dropdown</button>
            <div id="myDropdown" class="dropdown-content">
                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                <a href="#about">About</a>
                <a href="#base">Base</a>
                <a href="#blog">Blog</a>
                <a href="#contact">Contact</a>
                <a href="#custom">Custom</a>
                <a href="#support">Support</a>
                <a href="#tools">Tools</a>
            </div>
        </div>
        <button class="btn-primary">Submit</button>
    </form>
</div>

