@model IEnumerable<CantCSharp.Models.QuestionModel>


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Can't C#</h1>
    <p>Questions are everywhere, answers are on Can't C# !</p>
</div>
<div>
    <a href ="~/Home/NewQuestion">Do you have a question?You can put it on here!</a>
</div>

<table class="list-group">
    @foreach (var q in Model)
    {
        <tr class="list-group-item list-group-item-action">
            <td>@Html.ActionLink(q.QuestionMessage, "QuestionDetails", new { id = q.QuestionID })</td>
        </tr>
    }
</table>
