
@{
    ViewData["Title"] = "NewAnswer";
}


<html>
<head>
    <title>Redirecting...</title>
    <meta http-equiv="refresh"
          content="2;URL=https://localhost:5001/">
</head>
<body>
    You answer has been successfully saved!
    You are being automatically redirected back to the home page<br /></body>
</html>

