
@{
    ViewData["Title"] = "NewQuestion";
}

<h1>NewQuestion</h1>
<div>
    <form method="post">
        <label for="Title">
            Username
            <input type="text" id="name" name="title" required><br>
        </label>
        <label for="message">
            The message:
            <input  type="text" name="message" required><br>

        </label>
        <button>Submit</button>
    </form>
</div>

