@model IEnumerable<CantCSharp.Models.QuestionModel>

@{
    ViewData["Title"] = "Question";
}

<html>
<head>
    <title>Questions</title>
</head>
<body>
    <hr />
    <table>
        <tr>
            <th>Id </th>
            <th>Question Title </th>
            <th>Question message </th>
        </tr>

        
    </table>
</body>
</html>

