
@{
    ViewData["Title"] = "Question";
}


<html>
<head>
    <title>Questions</title>
</head>
<body>
    <hr />
    <table>
        <tr>
            <th>Id </th>
            <th>Question </th>
            <th>Posted </th>
        </tr>
        <tr>
            <td><a href="Question/1"> 1</a></td>
            <td>Hello Good Sir how are you?</td>
            <td>2020.03.16</td>
        </tr>
        <tr>
            <td><a href="Question/1"> 1</a></td>
            <td>Hello Good Sir how are you?</td>
            <td>2020.03.16</td>
        </tr>
        <tr>
            <td><a href="Question/1"> 1</a></td>
            <td>Hello Good Sir how are you?</td>
            <td>2020.03.16</td>
        </tr>
    </table>
</body>
</html>

