@model CantCSharp.Models.QuestionModel

@{
    ViewData["Title"] = "QuestionDetails";
}


    <table>
        <tr>
            <th>Id </th>
            <th>Question Title </th>
            <th>Question message </th>
        </tr>
        <tr>
            <td>@Model.QuestionID</td>
            <td>@Model.QuestionTitle</td>
            <td>@Model.QuestionMessage</td>
        </tr>
        
    </table>

