
@{
    ViewData["Title"] = "Question";
}

<html>
<head>
    <title>Questions</title>
</head>
<body>
    <hr />
    <table>
        <tr>
            <th>Id </th>
            <th>Question Title </th>
            <th>Question message </th>
        </tr>

        @foreach (var d in Controller.)
        {
            <tr>
            <td><a href="Question/@d.QuestionID"> @d.QuestionID</a></td>
            <td>@d.QuestionTitle</td>
            <td>@d.QuestionMessage</td>

            </tr>
        }
    </table>
</body>
</html>

