
@{
    ViewData["Title"] = "Registration";
}

<div class="text-center">
    <h1 class="display-4"> Registration </h1>
    <form method="post">
        <label> Username</label>
        <input type="text" name="username" required/>
        <label> Email</label>
        <input type="text" name="email" required/>
        <label> Password</label>
        <input type="password" name="password" required/>
        <label> Password Again</label>
        <input type="password" name="passwordAgain" required/>
        <button>Submit</button>
    </form>

</div>

