@model CantCSharp.Models.User
@{
    ViewData["Title"] = "Index";
}

    <h1>Welcome @Model.UserName </h1>
<div class="text-center">
    <h1 class="display-4"> Profile </h1>
    <h2>Email</h2>
    <h2>@Model.Email</h2>

</div>

