@model CantCSharp.Models.User
@{
    ViewData["Title"] = "Profile Details";
}

    <h1>Welcome Username</h1>
<div class="text-center">
    <h1 class="display-4"> Profile </h1>
    <h2>Email</h2>
    <h2></h2>

</div>

